*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.tutto{
    max-width: 100%;
    height: 130vh;
}

.header-css{
    background-color: rgb(3, 3, 53);
}
.dentro-centrare{
    width: 85%;
    margin: 0 auto;
}

/* start */

.start{
    background-color: rgb(17, 202, 141);
    width: 100%;
    height: 450px;
}
.immagine{
    width: 200px;
    height: 200px;
}
.scritte-dentro-main{
    width: 100%;
    height: 35%;
    text-align: center;
}



/* start */
.stella::before , .stella::after{
    content: "";
    height: 3px;
    width: 110px;
    display: block;
    background-color: black;
    border-radius: 300px;
}
.scritte-dentro-main .stella::before ,
.scritte-dentro-main .stella::after{
    background-color: white;
}

#text-dark{
    color: black;
}


/* portfolio */

.tutto-portfolio{
    width: 100%;
    height: 550px;
}

.immagine-port > img{
    width: 100%;
    border-radius: 10px;
}